main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-img {
    border-radius: 50%;
    border: 2px solid #3D6887;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 10px;
}

.title {
    font-size: 3rem;
    margin-bottom: 0;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.recommendations-btn {
    background-color: #FD6A02;
    color: #fff;
    border: none;
    margin-top: 1rem;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recommendations-btn:hover {
    background-color: #FD8835;
}