.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
    transition: background-color 0.1s ease-out;
    border-radius: 15rem;
    padding: 5rem 0;
}

.metronome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23rem;
    height: 23rem;
    /* border: 1px solid #000; */
}

.bpm-display {
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.bpm-display .tempo {
    font-size: 4.2em;
}

.tempo-text {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

.tempo-settings {
    display: flex;
    justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
    width: 30px;
    height: 30px;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
    background: #fa545c;
    color: #fff;
}

.tempo-settings .decrease-tempo {
    line-height: 25px;
}

.tempo-settings .increase-tempo {
    line-height: 32px;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    margin-top: -7px;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    border: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 1.2rem auto;
}

.tap-tempo {
    width: 120px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fa545c;
    border-radius: 50px;
    color: #fa545c;
    /* line-height: 50px; */
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.tap-tempo:hover {
    background: #fa545c1a;
}

.start-stop {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fa545c;
    border-radius: 50%;
    color: #fff;
    /* line-height: 50px; */
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.start-stop-text, .tap-tempo-text {
    font-size: 0.9em;
}

.start-stop:hover {
    background: #ff656c;
}

.measures {
    display: flex;
    justify-content: center;
}

.measures .stepper {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stepper-text {
    font-size: 1.2em;
}

.measures .stepper:hover {
    background: #ff656c;
    color: #fff;
}

.measures .add-beats {
    line-height: 20px;
}

.beats-per-measure-text {
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Visual feedback blinking */
@keyframes flash {
    0% { background-color: #fcde69 }
    100% { background-color: #ffffff }
}

.container.flash {
    animation: flash 0.2s ease-out;
}

/* Volume slider */
.volume-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

#volume-slider {
    width: 100px;
}
