{% extends "base.html" %} {% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/about-styles.css') }}"
/>

<section>
    <div class="title-container">
        <h1 class="title">About TuneTopia</h1>
    </div>
    <div class="description-container">
        <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae expedita facilis excepturi sapiente! Asperiores repudiandae omnis distinctio ea tempora, culpa iusto aliquam vitae deserunt aut, maxime architecto maiores nemo voluptate?</p>
    </div>

    <a class="recommendations-btn" href="{{ url_for('recommend') }}">Click here to get recommendations</a>
</section>


{% endblock %}
