{% extends "base.html" %} {% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/about-styles.css') }}"
/>

<section>
    <div class="title-container">
        <h1 class="title">About TuneTopia</h1>
    </div>
    <div class="description-container">
        <p class="description">TuneTopia is a music discovery platform, helping you find songs that match your taste. Simply enter an artist you like, and our recommendation system will suggest tracks with a similar vibe, taking into account sound and genre. Whether you're looking for fresh tunes or a perfect playlist, TuneTopia makes music discovery effortless and enjoyable.</p>
    </div>

    <a class="recommendations-btn" href="{{ url_for('recommend') }}">Click here to get recommendations</a>
</section>


{% endblock %}
