<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Music Recommender</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base-styles.css') }}"
    />
  </head>

  <body>
    {% if session.get('access_token') %}
    <nav>
      <a class="logo" href="/">TUNETOPIA</a>
      <div class="nav-links">
        <div class="nav-link">
          <a href="{{ url_for('home') }}" class="{% if request.path == url_for('home') %}active{% endif %}">Home</a>
        </div>
        <div class="nav-link">
          <a href="{{ url_for('about') }}" class="{% if request.path == url_for('about') %}active{% endif %}">About</a>
        </div>
        <div class="nav-link">
          <a href="{{ url_for('recommend') }}" class="{% if request.path == url_for('recommend') %}active{% endif %}">Recommend me Songs</a>
        </div>
        <div class="nav-link">
          <a href="{{ url_for('metronome') }}" class="{% if request.path == url_for('metronome') %}active{% endif %}">Metronome</a>
        </div>
      </div>
      <div class="logout-btn"><a href="{{ url_for('logout') }}">Logout</a></div>
    </nav>
    {% endif %}

    <div class="content">{% block content %}{% endblock %}</div>

    <footer>
      <div class="social-icons">
        <a href="https://github.com/joelytin">
          <img src="{{ url_for('static', filename='/images/github.svg') }}" />
          <div class="hidden-label">GitHub</div>
        </a>
        <a href="httpsL//www.linkedin.com/in/joelytin">
          <img src="{{ url_for('static', filename='/images/linkedin.svg') }}" />
          <div class="hidden-label">LinkedIn</div>
        </a>
      </div>
      <div class="footer-nav">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('recommend') }}">Recommend me Songs</a></li>
          <li><a href="{{ url_for('metronome') }}">Metronome</a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 TuneTopia. Designed by Joely Tin. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
