{% extends "base.html" %} {% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/home-styles.css') }}"
/>

<main>
    {% if session['user_image'] %}
    <img class="profile-img" src="{{ session['user_image'] }}" alt="Profile Image">
    {% endif %}

    <h1 class="title">Welcome, {{ session['user_name'] }}!</h1>
    <p class="subtitle">Personalised music discovery platform</p>

    <a class="recommendations-btn" href="{{ url_for('recommend') }}">Give me recommendations</a>
</main>

{% endblock %}
