{% extends "base.html" %} {% block content %}

<p id="test-indicator" style="display: none;">Home page loaded</p>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/home-styles.css') }}"
/>

<main>
    {% if session['user_image'] %}
    <img class="profile-img" src="{{ session['user_image'] }}" alt="Profile Image">
    {% endif %}

    <h1 class="title">Welcome to TuneTopia</h1>
    <p class="subtitle">Your personalised music discovery platform.</p>

    <a class="recommendations-btn" href="{{ url_for('recommend') }}">Give me recommendations</a>

    <p class="tagline">Discover hidden gems, explore new sounds, and vibe with your favourites. 🎶</p>
</main>

{% endblock %}
