<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Music Recommender System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/index-styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
  </head>
  <body>
    <main>
      <h1 class="title">Welcome to TuneTopia!</h1>
      <p class="subtitle">Your personalised music discovery platform</p>
      <a class="login-btn" href="{{ url_for('login') }}">Login with Spotify</a>
    </main>
    <footer>
      <div class="social-icons">
        <a href=""><img src="{{ url_for('static', filename='/assets/images/github.svg') }}" />GitHub</a>
        <a href="">LinkedIn</a>
      </div>
      <div class="footer-nav">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('recommend') }}">Recommend me Songs</a></li>
          <li><a href="{{ url_for('metronome') }}">Metronome</a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 TuneTopia. Designed by Joely Tin. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
