{% extends "base.html" %} {% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/metronome-styles.css') }}"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="metronome">
        <div class="bpm-display">
            <span class="tempo">140</span>
            <span class="bpm">BPM</span>
        </div>

        <div class="tempo-text">Nice and steady</div>

        <div class="tempo-settings">
            <div class="adjust-tempo-btn decrease-tempo">-</div>
            <input type="range" min="20" max="280" step="1" class="slider">
            <div class="adjust-tempo-btn increase-tempo">+</div>
        </div>

        <div class="button-container">
            <div class="tap-tempo"><p class="tap-tempo-text">TAP TEMPO</p></div>
            <div class="start-stop"><p class="start-stop-text">START</p></div>
        </div>

        <div class="measures">
            <div class="subtract-beats stepper"><p class="stepper-text">-</p></div>
            <div class="measure-count">4</div>
            <div class="add-beats stepper"><p class="stepper-text">+</p></div>
        </div>
        <span class="beats-per-measure-text">Beats per measure</span>
    </div>
</div>

<div class="volume-control">
    <i class="fa fa-volume-up" style="font-size:24px"></i>
    <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="1">
</div>

<script src="{{ url_for('static', filename='js/metronome.js') }}" type="module" defer></script>

{% endblock %}
