{% extends "base.html" %} {% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/new-user-styles.css') }}"
/>

<section>
    <h2 class="title">Enter 3 of your favourite artists.</h2>

    <form action="/new_user_recommendations" method="post" class="artist-form">
        <div class="form-group">
            <label for="artist1">Artist 1</label>
            <input type="text" id="artist1" name="artist1" required>
        </div>
        <div class="form-group">
            <label for="artist2">Artist 2</label>
            <input type="text" id="artist2" name="artist2" required>
        </div>
        <div class="form-group">
            <label for="artist3">Artist 3</label>
            <input type="text" id="artist3" name="artist3" required>
        </div>
        
        <p class="note">Recommendations will appear below.</p>

        <button type="submit" class="generate-btn">Generate</button>

        <!-- Button to clear fields? -->
    </form>
</section>


{% endblock %}