{% extends "base.html" %} {% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/recommend-styles.css') }}"
/>

<section>
  <div class="long-time-user-container">
    <h2 class="title">Long-time Spotify user?</h2>
    <p>Generate recommendations based on your Spotify data. <br>Results will appear below.</p>
    <button class="generate-btn">Generate</button>
  </div>

  <div class="new-user-container">
    <h2 class="title">New Spotify user?</h2>
    <p>You may not have enough historical data on your account.</p>
    <a class="new-user-btn" href="{{ url_for('new_user_form') }}">New users click here</a>
  </div>
  <!-- <p>
    <button onclick="window.location.href='{{ url_for('recommend') }}'">
      Recommend me songs
    </button>
  </p> -->
</section>

<div id="recommendations">
  {% if recommendations %}
  <h2>Recommended Tracks</h2>
  {% for track in recommendations %}
  <div class="track">
    <span class="track-number">{{ loop.index }}</span>
    <img
      src="{{ track.album.images[0].url }}"
      alt="{{ track.album.name }}"
      width="100"
    />
    <h3>{{ track.name }}</h3>
    <p>Artist: {{ track.artists[0].name }}</p>
    <p>Album: {{ track.album.name }}</p>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}